body {
    background-color: rgb(128,175,114);
    background-image: url("./img/background.png");
    background-size: 100%;
    background-repeat: repeat-x;
}

.aliasing {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

.underline{
    text-decoration: underline;
    margin: 2px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 1%;

}

.bloc-pokemon {
    text-align: center;
    flex-basis:33%;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    color: white;
}

.pixel {
    font-family: 'Press Start 2P', serif;
}
.center{
    text-align: center;
}

.title {
    color: rgb(255, 232, 100);
    text-shadow: 4px 0 rgb(77, 57, 255), -4px 0 rgb(77, 57, 255), 0 4px rgb(77, 57, 255), 0 -4px rgb(77, 57, 255),
    2px 2px rgb(77, 57, 255), -2px -2px rgb(77, 57, 255), 2px -2px rgb(77, 57, 255), -2px 2px rgb(77, 57, 255);
    background-color: rgb(255, 68, 68);
    margin: 0%;
    padding: 1%;
}

.navbar{
    position: sticky;
    top: 0;
    z-index:9999;
    cursor: grab;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2%;
    background-color: #e6e6e6;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    padding: 8px;
    color: red;
}

li a:hover {
    color: #ff9b9b;
}

li a:active {
    color: rgb(179, 255, 255);
}

.poke-button {
    transition: transform 0.3s ease-out;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 73, 73);
    color: white;
    margin: 5px;
}

.poke-button:hover {
    transform: scale(0.9,0.9);
    background-color: rgb(226, 241, 255);
    color:rgb(39, 39, 39);
}

.catch {
    background-color: rgba(0,0,0,0);
    border: none;
}

img {
    transition: transform 1s ease-in-out;
}
img.avatar:hover {
    transform: scale(0.9,0.9);
    /*transform: rotate(360deg);*/
    /*transform: translateY(10px);*/
    transform: scale(1.5);
    
}
img.avatar{
    width: 150px;
}
img.type{
    width: 80px;
}

.balls {
    width: 50px;
    transition: transform 1s ease-in-out;
}
.balls:hover {
    transform: rotate(360deg);
}

form {
    margin: 2px;
}

.release-btn {
    -webkit-text-stroke: 0px !important;
}